.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
data/
icuriskr/
papers/
writeup/phase1_writeup.aux
writeup/phase1_writeup.bbl
writeup/phase1_writeup.blg
writeup/phase1_writeup.out
writeup/phase1_writeup.log
writeup/phase1_writeup.synctex.gz
writeup/phase2_writeup.aux
writeup/phase2_writeup.bbl
writeup/phase2_writeup.blg
writeup/phase2_writeup.out
writeup/phase2_writeup.log
writeup/phase2_writeup.synctex.gz
writeup/presentation_figs/
writeup/presentation_2021-02-19.pptx