.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
data/
icuriskr/
papers/
writeup/phase1_writeup.aux
writeup/phase1_writeup.bbl
writeup/phase1_writeup.blg
writeup/phase1_writeup.out
writeup/phase1_writeup.log
writeup/phase1_writeup.synctex.gz